<?xml version="1.0"?>
<config>



    <modules>
        <Sunovisio_AffiliateNetworkConnector>
            <version>1.2.0</version>
        </Sunovisio_AffiliateNetworkConnector>
    </modules>
    <frontend>
        <routers>
            <affiliatenetworkconnector>
                <use>standard</use>
                <args>
                    <module>Sunovisio_AffiliateNetworkConnector</module>
                    <frontName>affiliatenetworkconnector</frontName>
                </args>
            </affiliatenetworkconnector>
        </routers>
        <layout>
            <updates>
                <affiliatenetworkconnector>
                    <file>affiliatenetworkconnector.xml</file>
                </affiliatenetworkconnector>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <sunovisio_affiliatenetworkconnector>
                        <class>Sunovisio_AffiliateNetworkConnector_Model_Observer</class>
                        <method>loadCookie</method>
                    </sunovisio_affiliatenetworkconnector>
                </observers>
            </controller_action_layout_load_before>
            <customer_register_success>
                <observers>
                    <sunovisio_affiliatenetworkconnector_registration>
                        <class>Sunovisio_AffiliateNetworkConnector_Model_Observer</class>
                        <method>saveCustomerAffiliation</method>
                    </sunovisio_affiliatenetworkconnector_registration>
                </observers>
            </customer_register_success>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <affiliatenetworkconnector before="Mage_Adminhtml">Sunovisio_AffiliateNetworkConnector_Adminhtml</affiliatenetworkconnector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <affiliatenetworkconnector>
                                            <title>Affiliate Network Connector - Configuration</title>
                                        </affiliatenetworkconnector>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <affiliatenetworkconnector>
                    <file>affiliatenetworkconnector.xml</file>
                </affiliatenetworkconnector>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <resources>
            <affiliatenetworkconnector_setup>
                <setup>
                    <module>Sunovisio_AffiliateNetworkConnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliatenetworkconnector_setup>
            <affiliatenetworkconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliatenetworkconnector_write>
            <affiliatenetworkconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliatenetworkconnector_read>
        </resources>
        <models>
            <affiliatenetworkconnector>
                <class>Sunovisio_AffiliateNetworkConnector_Model</class>
            </affiliatenetworkconnector>
			<affiliatenetworkconnector_adminhtml>
        		<class>Sunovisio_AffiliateNetworkConnector_Adminhtml_Model</class>
        	</affiliatenetworkconnector_adminhtml>
        </models>
        <helpers>
            <affiliatenetworkconnector>
                <class>Sunovisio_AffiliateNetworkConnector_Helper</class>
            </affiliatenetworkconnector>
        </helpers>
        <blocks>
            <affiliatenetworkconnector>
                <class>Sunovisio_AffiliateNetworkConnector_Block</class>
            </affiliatenetworkconnector>
        </blocks>

    </global>
    <default>
        <affiliatenetworkconnector>
            <parameters>
			</parameters>
		</affiliatenetworkconnector>
    </default>
</config>