~*
*~
/app/etc/local.xml
/var
/includes
/index.php
/downloader
/media
php.ini
nbproject
.htaccess
n98-magerun.phar
composer.json
*.sublime-project
*.sublime-workspace
/blog
/magmi
*.sql
*.zip
/temp
/manage_halo_downloader
/news
/pkginfo
/export
/feeds
/import
/errors
/skin/frontend/smartwave/porto/css/configed/design_halo_retail_english.css
/skin/frontend/smartwave/porto/css/configed/design_halo_wholesale_english.css
/skin/frontend/smartwave/porto/css/configed/settings_halo_retail_english.css
/skin/frontend/smartwave/porto/css/configed/settings_halo_wholesale_english.css