<?xml version="1.0"?>
<config>
	<modules>
		<Halox_ExtendedCatalogFilter>
			<version>1.0.1</version>
		</Halox_ExtendedCatalogFilter>
	</modules>
	<global>
		<helpers>
			<halox_extendedcatalogfilter>
				<class>Halox_ExtendedCatalogFilter_Helper</class>
			</halox_extendedcatalogfilter>
		</helpers>
		<models>
			<halox_extendedcatalogfilter>
				<class>Halox_ExtendedCatalogFilter_Model</class>
			</halox_extendedcatalogfilter>
		</models>
		<resources>
            <halox_extendedcatalogfilter_setup>
                <setup>
                    <module>Halox_ExtendedCatalogFilter</module>
                </setup>
            </halox_extendedcatalogfilter_setup>
        </resources>
	</global>
	<frontend>
		<events>
			<catalog_product_collection_load_before>
                <observers>
                    <halox_extendedcatalogfilter>
                        <type>singleton</type>
                        <model>halox_extendedcatalogfilter/observer</model>
                        <method>catalogProductCollectionLoadAfter</method>
                    </halox_extendedcatalogfilter>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_load_after>
                <observers>
                    <halox_extendedcatalogfilter>
                        <type>singleton</type>
                        <model>halox_extendedcatalogfilter/observer</model>
                        <method>catalogProductLoadAfter</method>
                    </halox_extendedcatalogfilter>
                </observers>
            </catalog_product_load_after>
		</events>
	</frontend>
</config>