/*custom tab*/
.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.form-list label,.form-list label.required {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    left: 0;
    margin-left: 0;
    padding: 0;
}
.data-table tbody th,.data-table tbody td{
padding:15px 82px;}
.ratings-table.data-table input.radio {
  display: block;   
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
/*custom tab*/
.holder {
    margin: 15px 0;
}

.holder a {
    font-size: 12px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

.holder a:hover {
    background-color: #222;
    color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
}

.holder span { margin: 0 5px; }