<!--@subject {{var subject}}@-->

========= Please enter your reply ABOVE this line =========
<p>Hello <i>{{var customer_name}}</i>,</p>

<p>Thank you for submitting your ticket to our staff. We will response to your ticket as soon as possible.</p>

<p>Here is your original message:<br>
-------------------------------<br>
{{var message}}
<br>-------------------------------</p>

<p>To submit additional information, you can simply reply to this email.<br />
Anytime you wish to view and manage your ticket online, please login to your account or click the link below: <br />
<a href="{{var customer_direct_link}}">{{var customer_direct_link}}</a></p>

<p>This message was sent by the {{var department_name}} department - {{var store_name}} helpdesk.</p>
