<?xml version="1.0"?>
<config>
    <modules>
        <Halox_PaymentInfo>
            <version>0.1.0</version>
        </Halox_PaymentInfo>
    </modules>
    <global>
        <resources>
            <halox_paymentinfo_setup>
                <setup>
                    <module>Halox_PaymentInfo</module>
                    <class>Halox_PaymentInfo_Model_Resource_Setup</class>
                </setup>
            </halox_paymentinfo_setup>            
        </resources>
        <models>
            <halox_paymentinfo>
                <class>Halox_PaymentInfo_Model</class>
            </halox_paymentinfo>
        </models>
        <blocks>
            <haloxpaymentinfo>
                <class>Halox_PaymentInfo_Block</class>
            </haloxpaymentinfo>
        </blocks>
        <helpers>
            <halox_paymentinfo>
                <class>Halox_PaymentInfo_Helper</class>
            </halox_paymentinfo>
        </helpers>   
    </global>
    <frontend>       
         <layout>
            <updates>
                <halox_paymentinfo>
                    <file>halox/paymentinfo/paymentinfo.xml</file>
                </halox_paymentinfo>
            </updates>
        </layout>
         <events>
	 <sales_order_place_before>               
                <observers>
                    <Halox_PaymentInfo_Model_Observer>
                        <class>Halox_PaymentInfo_Model_Observer</class>
                        <method>saveComment</method>
                        <type>singleton</type>
                    </Halox_PaymentInfo_Model_Observer>
                </observers>
        </sales_order_place_before>
        </events>
    </frontend>	
    <adminhtml>
        <layout>
            <updates>
                <halox_paymentinfo>
                    <file>paymentinfo/info.xml</file>
                </halox_paymentinfo>
            </updates>
        </layout>
       <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <pocomment translate="title">
                                        <title>Po Reference Number Settings </title>
                                        <sort_order>98</sort_order>
                                    </pocomment>
                                </children>
                            </config>
                        </children>
                    </system>
                 </children>
            </admin>
        </resources>
    </acl>
    </adminhtml>	
</config>
