<?xml version="1.0"?>
<config>
	<sections>
		<halox_cartitemnames translate="label">
			<tab>halox_settings</tab>
			<label>Halox Override Cart Item Names</label>
			<frontend_type>text</frontend_type>
			<sort_order>12</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general_settings translate="label">
					<label>General</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label">
		                    <label>Extension Enabled</label>
		                    <frontend_type>select</frontend_type>
		                    <source_model>adminhtml/system_config_source_yesno</source_model>
		                    <sort_order>10</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
		                </enabled>
		            </fields>
		        </general_settings>        
			</groups>
		</halox_cartitemnames>	
	</sections>
</config>