.login-container {
    margin-right:40px;
    margin-top:0px;
    margin-bottom: 0px;
}
.navbar-collapse.collapse {
    padding-top: 10px;
}
.navbar-right {
    margin-right: 10px;
    margin-top: 5px;
}
.navbar-brand > img {
    max-width: 100%;
    width:100%;
    }
.myaccount{
    display:inline-block;
}
.page-section li {
    width: 32.9%;
}
.mng-col .fig-detail{margin-bottom:0;}

.category-products .product-image-area, .education_resource .promotion-image, .education_resource .item-area, .category-products .details-area, .event-schedule .item-area, .current_promotions .item-area, .current_promotions .promotion-image{
    width:50%;
    float:left;
}
.event-schedule .event-image{
    float:right;
    width:50%;
}
.item:nth-child(odd) .product-image-area, .education_resource:nth-child(odd) .promotion-image, .current_promotions .promotion-image{
    padding-right:20px;
}
.item:nth-child(even) .product-image-area, .event-image, .education_resource:nth-child(even) .promotion-image{
    padding-left:20px;
    float:right;
}
.item:nth-child(odd) .details-area{
    padding-left:20px;
}
.item:nth-child(even) .details-area{
    padding-right:20px;
    text-align: right;
}
.promotion-image img{
    border-radius: 3px;
}
.col-main .category-products .products-grid li.item {
    padding: 10px 25px;
}
.col-main .category-products .products-grid.columns3 li.item {
    border-bottom: 0px;
}
.media-left {
    padding-right: 10px;
    display: table-cell;
    width: auto;
}
.modal-body .media-body {
    padding-left: 30px;
}
.footer{
    text-align: left;
}
.ft-content .ft-logo{
    width:60%;
}
.ft-content .tc_pp{
    width:40%;
}
.ft-content .ft-logo li, .ft-content .tc_pp li{
    float:none;
    display:inline-block;
}
.ft-content .tc_pp{
    text-align: right;
}
.footer-middle-all>li:first-child{
    width:38%;
}
.footer-middle-all>li:nth-child(2){
    width:17%;
}
.footer-middle-all>li:nth-child(3){
    width:17%;
}
.footer-middle-all>li:last-child{
    width:28%;
}
.category-name {
    font-size: 16px;
    text-align: center;
    cursor:pointer;
}

ul.footer-icon-txt li {
    width: 25%;
    float: left;
    margin-bottom:0px;
}

.social_icon{padding-left:15px;}

.footer-middle h4, social_icon {
    text-align: left;
}

.data-table .option-heading label {
    font-size: 24px;
}
.sticky-media-nav .btn-success{
    width: auto;
    padding: 7px 30px;
}
.btn-success, #sticky-media-nav .btn-success {
    width: auto;
}
.customer-account-login .btn-success{
    min-width:200px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    font-size: 18px;
}
.cms-page .training-header{
    padding: 60px 15px 160px;
}
.cms-page .media-header {
    padding: 60px 15px 130px;
}
.ui-dialog,  #success-message-container{
    width: 624px !important;
}
.cart .totals button.button, .cart-table button.button{
    width:auto;
}
.cart-table .btn-continue, .cart-table button.button:first-child {
    float: left;
}
.cart-table .btn-empty, .cart-table .btn-update, .cart-table button.button:last-child{
    float: right;
}
.login, .account-login .form-list li, .btm-btn{
    padding-left: 30px;
    padding-right: 30px;
}
#tab3{
    padding-left:0px;
    padding-right:0px;
}
.email_desc {
    padding: 15px 20px;
    width:100%;
    max-width: 715px;
    margin: 0 auto;
}
.wide{
    text-align:left;
}
#tab3 .btm-btn {
    padding-left: 30px;
    padding-right:30px;
}
#wholesale_date_established {
    width: 95%;
}
.wire-transfer, .wire-transfer:hover, .ach-payment, .ach-payment:hover{
    height: 96px;
}
.ui-state-default, .ui-widget-content .ui-state-default .ui-button-text, .ajaxloadingbuttons button {
    font-size: 18px;
}
.ajaxloadingbuttons .button.button>span>span {
    font-size: 18px;
}
.f-list, .social{
    margin-top:17px;
}
.footer-middle-all li:nth-child(3), .footer-middle-all li:last-child{
    margin-top:0px;
}
.social_icon .social{
    margin-top:30px;
}
.t-c {
    padding-left: 30px;
    padding-right: 30px;
}
.cart-price .price {
    font-size:1em;
}
.footer-container {
    margin-top: 80px;
}
.product_img:first-child, .logo-section:first-child, .social-section:first-child{
    margin-bottom:20px;
}
.divider-h{ display: block; float:left; width:100%; height:1px; background:#ccc;}
.a-right{
    text-align: right;
}
.modal-dialog {
    width: 550px;
}
.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button {
    width: auto;
}
.navbar > .container-fluid .navbar-brand{
    margin-left: 0px;
}
.manage-payment-method button.button > span > span, .manage-payment-method button.button:hover > span > span {
    padding: 0px 10px;
}
#sticky-media-nav .btn-success {
    padding: 0px 20px;
    width:auto;
}
.cms-page .page-header hr, hr {
    width: 35%;
}
.videopage .tittle-video div {
    margin-bottom: 10px;
}
#login_portal{
    margin-right:30px;
}
.col-right {
    margin-top: 65px;
}
#checkout-review-table .summary-collapse{
    text-align: right;
}
.cms .content h1.title, .termsandconditions h1{
    text-align: left;
    font-size: 36px;
}
.margin-30{
    margin-top:30px;
}