<?xml version="1.0"?>
<config>
    <modules>
        <Halox_Fixes>
            <version>1.0.2</version>
        </Halox_Fixes>
    </modules>
   <global>
      <blocks>
            <fixes>
                <class>Halox_Fixes_Block</class>
            </fixes>
          <!--  <adminhtml>
                <rewrite> 
                    <cms_page_edit_form>Halox_Fixes_Block_Adminhtml_Cms_Page_Edit_Form</cms_page_edit_form>
                </rewrite>
            </adminhtml>   -->
        </blocks>
        <models>
            <fixes>
                <class>Halox_Fixes_Model</class>
            </fixes>
        </models>
       <helpers>
            <fixes>
                <class>Halox_Fixes_Helper</class>
            </fixes>
<!--             <core>
                <rewrite>
                    <unserializeArray>Halox_Fixes_Helper_Core_Unserializearray</unserializeArray>
                </rewrite>
            </core>-->
        </helpers>
        <resources>
           <fixes_setup>
                <setup>
                    <module>Halox_Fixes</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fixes_setup>
        </resources>    
    </global>           
    <adminhtml>        
        <events>
            <adminhtml_cms_page_edit_tab_meta_prepare_form>
                <observers>
                    <halox_fixes_prepare_form>
                        <type>singleton</type>
                        <class>fixes/observer_cms</class>
                        <class>Halox_Fixes_Model_Observer_Cms</class>
                        <method>prepareForm</method>
                    </halox_fixes_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_meta_prepare_form>
        </events>
    </adminhtml>        
</config>