<?xml version="1.0"?>

<config>
	<modules>
		<Halox_ExpediteShipping>
			<version>1.0.0</version>
		</Halox_ExpediteShipping>
	</modules>
	<global>
		<helpers>
			<halox_expediteshipping>
				<class>Halox_ExpediteShipping_Helper</class>
			</halox_expediteshipping>
		</helpers>
		<blocks>
			<halox_expediteshipping>
				<class>Halox_ExpediteShipping_Block</class>
			</halox_expediteshipping>
		</blocks>
		<models>
			<halox_expediteshipping>
				<class>Halox_ExpediteShipping_Model</class>
			</halox_expediteshipping>
            <sales>
                <rewrite>
                    <quote_address_rate>Halox_ExpediteShipping_Model_Sales_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
		</models>
        <resources>
            <halox_expediteshipping_setup>
                <setup>
                    <module>Halox_ExpediteShipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </halox_expediteshipping_setup>
        </resources>
	</global>
    <frontend>
        <events>
			<!--update shipping total on quote whenever totals get collected for quote object-->
            <sales_quote_address_collect_totals_after>
				<observers>
					<halox_expediteshipping_collect_totals_after>
						<class>halox_expediteshipping/observer</class>
						<method>onQuoteAddressCollectTotalsAfter</method>
					</halox_expediteshipping_collect_totals_after>
				</observers>
			</sales_quote_address_collect_totals_after>
            <!--change shipping costs on Checkout 3rd step and on cart page estimate shipping cost section-->
            <core_block_abstract_to_html_before>
                <observers>
					<halox_expediteshipping_available_shipping_method_block_before_html>
						<class>halox_expediteshipping/observer</class>
						<method>onCoreBlockToHtmlBefore</method>
					</halox_expediteshipping_available_shipping_method_block_before_html>
				</observers>
            </core_block_abstract_to_html_before>
		</events>
    </frontend>
	<default>
		<halox_expediteshipping>
			<general_settings>
				<enabled>0</enabled>
			</general_settings>
		</halox_expediteshipping>
	</default>
</config>