<?xml version="1.0"?>
<config>
    <modules>
        <Halox_BundleGrid>
            <version>1.0.0</version>
        </Halox_BundleGrid>
    </modules>
    <global>
        <blocks>
            <halox_bundleGrid>
                <class>Halox_BundleGrid_Block</class>
            </halox_bundleGrid>
            <bundle>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_bundle_option_selection>Halox_BundleGrid_Block_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option_Selection</adminhtml_catalog_product_edit_tab_bundle_option_selection>
                    <adminhtml_catalog_product_edit_tab_bundle_option>Halox_BundleGrid_Block_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option</adminhtml_catalog_product_edit_tab_bundle_option>
                    <catalog_product_view_type_bundle>Halox_BundleGrid_Block_Catalog_Product_View_Type_Bundle</catalog_product_view_type_bundle>
                </rewrite>
            </bundle>
        </blocks>
        <helpers>
            <halox_bundleGrid>
                <class>Halox_BundleGrid_Helper</class>
            </halox_bundleGrid>
        </helpers>
        <models>
            <halox_bundleGrid>
                <class>Halox_BundleGrid_Model</class>
            </halox_bundleGrid>
            <bundle>
                <rewrite>
                    <product_type>Halox_BundleGrid_Model_Product_Type</product_type>
                </rewrite>
            </bundle>
        </models>
        <resources>
           <bundleGrid_setup>
                <setup>
                    <module>Halox_BundleGrid</module>
                </setup>
            </bundleGrid_setup>
        </resources>
        <catalog>
            <product>
                <options>
                    <bundle>
                        <types>
                            <grid translate="label" module="halox_bundleGrid">
                                <label>Grid</label>
                            </grid>
                        </types>
                    </bundle>
                </options>
            </product>
        </catalog>
    </global>
    <frontend>
        <layout>
            <updates>
                <halox_bundleGrid>
                    <file>halox/bundleGrid.xml</file>
                </halox_bundleGrid>
            </updates>
        </layout>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <halox_bundlegrid_product_view>
                        <class>halox_bundleGrid/observer</class>
                        <method>onProductView</method>
                    </halox_bundlegrid_product_view>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Halox_BundleGrid before="Mage_Bundle">Halox_BundleGrid_Adminhtml</Halox_BundleGrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>