<?xml version="1.0"?>
<config>
    <modules>
        <Sunovisio_CustomerFlag>
            <version>1.0.0</version>
        </Sunovisio_CustomerFlag>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerflag before="Mage_Adminhtml">Sunovisio_CustomerFlag_Adminhtml</customerflag>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system module="customerflag">              
                <children>
                    <customerflag module="customerflag">
                        <title>Customer Flag</title>
                        <sort_order>100</sort_order>
                        <action>adminhtml/customerflag_index</action>
                    </customerflag>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customerflag>
                                            <title>Customer Flag - Configuration</title>
                                        </customerflag>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <customerflag>
                    <file>customerflag.xml</file>
                </customerflag>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <customerflag>
                <class>Sunovisio_CustomerFlag_Model</class>
                <resourceModel>customerflag_mysql4</resourceModel>
            </customerflag>
            <customerflag_mysql4>
                <class>Sunovisio_CustomerFlag_Model_Mysql4</class>
                <entities>
                    <flag>
                        <table>customer_flag</table>
                    </flag>
                </entities>
            </customerflag_mysql4>
        </models>
        <resources>
            <customerflag_setup>
                <setup>
                    <module>Sunovisio_CustomerFlag</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerflag_setup>
            <customerflag_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerflag_write>
            <customerflag_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerflag_read>
        </resources>
        <blocks>
            <customerflag>
                <class>Sunovisio_CustomerFlag_Block</class>
            </customerflag>
        </blocks>
        <helpers>
            <customerflag>
                <class>Sunovisio_CustomerFlag_Helper</class>
            </customerflag>
        </helpers>
    </global>
</config>