<?xml version="1.0"?>
<config>  
  <modules>
      <Magebird_Popup>
          <version>1.4.2</version>
      </Magebird_Popup>
  </modules>  
  <default>
    <popup> 
      <general> 
        <max_time>10</max_time> 
      </general> 
      <settings> 
        <useajax>1</useajax> 
        <requesttype>1</requesttype>
        <load_jquery>1</load_jquery>
        <asynchronous>1</asynchronous>
      </settings>
      <statistics> 
        <ajax_async>1</ajax_async> 
        <ga_tracking>1</ga_tracking>
        <mousetracking>1</mousetracking>         
      </statistics>            
      <services> 
        <mailchimp_double_option>1</mailchimp_double_option> 
      </services> 
      <services> 
        <mailchimp_option>1</mailchimp_option> 
      </services>                                            
    </popup>
  </default>                       
  <frontend> 
        <events> 
            <controller_action_predispatch>
                <observers>
                    <newsletter_confirmation>
                        <type>singleton</type>
                        <class>popup/observer</class>
                        <method>sendCoupon</method>
                    </newsletter_confirmation>                   
                </observers>
            </controller_action_predispatch>                   
            <controller_action_layout_load_before>
                <observers>
                    <popup_add_block_at_end_of_main_content>
                        <type>singleton</type>
                        <class>popup/observer</class>
                        <method>addBlockAtEndOfMainContent</method>
                    </popup_add_block_at_end_of_main_content>                   
                </observers>
            </controller_action_layout_load_before>  
            <checkout_cart_product_add_after>
                <observers>
                    <apply_coupon>
                        <type>singleton</type>
                        <class>popup/observer</class>
                        <method>applyCoupon</method>
                    </apply_coupon>                    
                </observers>
            </checkout_cart_product_add_after>                     
        </events>     
      <routers>
          <popup>
              <use>standard</use>
              <args>
                  <module>Magebird_Popup</module>
                  <frontName>popup</frontName>
              </args>
          </popup>
      </routers>    
      <layout>
          <updates>
              <popup>
                    <file>magebird_popup.xml</file>
              </popup>
          </updates>
      </layout> 
      <translate>
          <modules>
              <Magebird_Popup>
                  <files>
                      <default>Magebird_Popup.csv</default>
                  </files>
              </Magebird_Popup>
          </modules>
      </translate>                                
  </frontend>  
  <adminhtml>
        <translate>
            <modules>
                <Magebird_Popup>
                    <files>
                        <default>Magebird_AdminhtmlPopup.csv</default>
                    </files>
                </Magebird_Popup>
            </modules>
        </translate>   
        <menu>
          <cms>
            <children>
              <popup translate="title" module="popup">
                <title>Popup</title>
                <action>adminhtml/popup/index</action>
              </popup>
            </children>
          </cms>
        </menu>  
        <layout>
            <updates>
                <popup>
                    <file>magebird_popup.xml</file>
                </popup>
            </updates>
        </layout>  
      <acl>
          <resources>
              <all>
                  <title>Allow Everything</title>
              </all>
              <admin>
                  <children>
                      <system>
                          <children>
                              <config>
                                  <children>
                                        <popup translate="title" module="popup">
                                            <title>Popup</title>
                                            <sort_order>10</sort_order>
                                        </popup>
                                  </children>
                              </config>
                          </children>
                      </system>
                      <cms>
                          <children>
                                <popup translate="title" module="popup">
                                    <title>Popup</title>
                                    <sort_order>10</sort_order>
                                </popup>
                          </children>
                      </cms>                       
                  </children>
              </admin>  
          </resources>
      </acl>
  </adminhtml> 
  <global>
        <template>
            <email>
                <popup_coupon module="popup">
                    <label>Popup coupon</label>
                    <file>magebird_popup/popup_coupon.html</file>
                    <type>html</type>
                </popup_coupon>
                <popup_coupon_newsletter module="popup">
                    <label>Popup coupon</label>
                    <file>magebird_popup/popup_coupon_newsletter.html</file>
                    <type>html</type>
                </popup_coupon_newsletter>                
            </email>
        </template>  
        <helpers>
            <popup>
                <class>Magebird_Popup_Helper</class>
            </popup>
        </helpers>  
        <models>
            <popup>
                <class>Magebird_Popup_Model</class>
                <resourceModel>popup_mysql4</resourceModel>
            </popup>
            <popup_mysql4>
                <class>Magebird_Popup_Model_Mysql4</class>
                <entities>
                    <popup>
                        <table>magebird_popup</table>
                    </popup>
                    <template>
                        <table>magebird_popup_template</table>
                    </template>    
                    <subscriber>
                        <table>magebird_popup_subscriber</table>
                    </subscriber>   
                    <mousetracking>
                        <table>magebird_mousetracking</table>
                    </mousetracking>      
                    <mousetrackingpopup>
                        <table>magebird_mousetracking_popup</table>
                    </mousetrackingpopup>                                                                      
                </entities>
            </popup_mysql4>                            
        </models>  
        <resources>
            <popup_setup>
                <setup>
                    <module>Magebird_Popup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </popup_setup>
            <popup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </popup_write>
            <popup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </popup_read>
        </resources>        
        <blocks>
            <popup>
                <class>Magebird_Popup_Block</class>
            </popup>    
        </blocks>                                      
  </global> 
  <admin>
      <routers>   
          <adminhtml>   
              <args>
                  <modules>
                      <Magebird_Popup after="Mage_Adminhtml">Magebird_Popup_Adminhtml</Magebird_Popup>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin>                    
</config>   